[submodule "C:/Users/bengmkaw/source/repos/Temp/thatsKJGithub/TestingSubmodules/SubmoduleProject"]
	path = C:/Users/bengmkaw/source/repos/Temp/thatsKJGithub/TestingSubmodules/SubmoduleProject
	url = https://github.com/thatskj/SubmoduleProject.git
